temp/
thumbnails/
watch_later/
*.log
build/
dist/
screenshots/
library/
encrypted/
nj-config/profiles/
nj-config/preset-custom.json
mpv/mpv.exe
mpv/ffmpeg.exe
mpv/yt-dlp.exe
mpv/ffmpeg-master-latest-win64-gpl/bin/ffmpeg.exe
mpv/ffmpeg-master-latest-win64-gpl/bin/ffplay.exe
mpv/ffmpeg-master-latest-win64-gpl/bin/ffprobe.exe
__pycache__/
